<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  
  <% layout('layouts/bplate') -%>
  <h3>All Listings</h3>

  <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
  </form>
  <ul>
    <% for(let listing of alllistings) { %>
      <li><a href="/listings/<%= listing._id %>">
          <%= listing.title %>
        </a></li>
      <% } %>
  </ul>


</body>

</html>