<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>

<body>
  <% layout('layouts/bplate') -%>

    <p>New Form created</p>

    <form action="/listings" method="post">
        <input type="text" placeholder="Enter here Title" name="listing[title]"><br><br>
        <textarea name="" id="" placeholder="Enter Description" name="listing[description]"></textarea><br><br>
        <input type="text" placeholder="Enter Image URl" name="listing[image]"> <br><br>
        <input type="number" placeholder="Enter Price" name="listing[price]"><br><br>
        <input type="text" placeholder="Enter Location" name="listing[country]"><br><br>
        <input type="text" placeholder="Enter country" name="listing[location]"><br><br>
        <button>Add</button>
    </form>
</body>

</html>